/* //////////////////////////header//////////////////////// */
.demo-bg{
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;

  
}


.header {
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    /* font-size: 15px; */
    
}


.homeBodySection{
    background-color: #fafafa;
    padding-bottom: 70px;
    /* height: 100vh; */
}